@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
  font-family: "Lato", sans-serif;
  font-size: 14px;
}

.bg-blue {
  background: #233a95;
}

@media (min-width: 1300px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1200px;
  }
}

::-webkit-scrollbar {
  width: 8px !important;
  height: 8px !important;
}

::-webkit-scrollbar-thumb {
  background: #ccc !important;
}

::-webkit-scrollbar-track {
  background: transparent !important;
}

.headerWrapper{
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding-bottom: 10px;
}
.headerWrapper .top-strip {
  padding: 8px 0px;
}

.headerWrapper .top-strip p {
  color: white;
  font-size: 12px;
  font-weight: 700;
}

.headerWrapper .header {
  width: 100%;
  height: auto;
  padding: 15px 0px;
}

.logoWrapper img {
  width: 100%;
}

.headerWrapper .header .part-2 .countryDrop {
  width: 170px;
  height: 50px;
  min-width: 170px;
  text-align: left;
  justify-content: flex-start !important;
  color: #000 !important;
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
  border-radius: 7px;
  padding: 10px 15px;
}

.headerWrapper .header .part-2 .countryDrop .label {
  font-size: 12px !important;
  text-transform: capitalize !important;
  color: rgba(0, 0, 0, 0.5) !important;
  line-height: 16px;
}

.headerWrapper .header .part-2 .countryDrop .name {
  font-size: 18px !important;
  text-transform: capitalize !important;
  color: #233a95 !important;
  font-weight: 700;
  line-height: 16px;
}

.headerWrapper .header .part2 .countryDrop span.ms-auto svg {
  opacity: 0.7;
}

.headerSearch {
  width: 60%;
  height: 50px;
  background: #f3f4f7;
  padding: 5px;
  position: relative;
  border-radius: 5px;
  border: 1px solid black;
}

.headerSearch input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.headerSearch input {
  background: transparent !important;
  outline: none !important;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 45px;
  border: 0px !important;
  padding: 0px 20px !important;
}

.headerSearch button {
  position: absolute;
  top: 5px;
  right: 10px;
  z-index: 100;
  min-width: 40px;
  height: 40px !important;
  width: 40px !important;
  border-radius: 50%;
  color: #000;
}

.headerSearch button svg {
  font-size: 25px;
}

header .part-3 .circle {
  align-items: center;
  justify-content: center;
  min-width: 40px !important;
  height: 45px !important;
  width: 40px !important;
  border-radius: 50% !important;
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
  color: #000;
}

header .part-3 .circle svg {
  font-size: 22px;
}

.cartTab .price {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 700;
}

.cartTab button {
  background: #fff1ee !important;
}

.cartTab button svg {
  color: #ea2b0f !important;
}

.cartTab .count {
  position: absolute;
  top: -6px;
  right: -4px;
  background: #ea2b0f;
  border-radius: 50%;
  color: #fff;
  width: 20px;
  height: 20px;
}

nav .navPart1 {
  max-width: 20%;
  flex-direction: 0, 0, 80%;
}

nav .navPart1 {
  max-width: 20%;
  flex-direction: 0, 0, 20%;
}

nav .allCatTab {
  background: #2bbef9;
  border-radius: 30px !important;
}

nav .allCatTab * {
  color: #fff;
}

nav .allCatTab:hover {
  background: #2bbef9;
}

nav .allCatTab .text {
  font-weight: 600;
  font-size: 14px;
}

nav .allCatTab .icon1 svg {
  font-size: 20px !important;
}

nav .allCatTab .icon1 svg {
  font-size: 15px !important;
}

nav .navPart2 ul {
  margin-bottom: 0px;
}
nav .navPart2 ul li a {
  text-decoration: none;
}

nav .navPart2 ul li a button{
  font-size: 14px;
  font-weight: 550;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
  text-transform: uppercase;
  display: flex;
  align-items: center;
  padding: 8px 15px;
  transition: all 0.2s ease-in-out;
  border-radius: 25px;
}

nav .navPart2 ul li a svg {
  font-size: 20px;
}

nav .navPart2 ul li a:hover {
  background: #f0faff;
  color: #2bbef9;
}

.locationModel .MuiPaper-elevation {
  padding: 25px;
position: relative;
}

.locationModel .countryList {
  margin-bottom: 0px;
  max-height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.locationModel .countryList li {
  width: 100%;
  list-style: none;
}

.locationModel .countryList li button {
  width: 100%;
  text-transform: capitalize !important;
  color: #000 !important;
  justify-content: flex-start;
  padding: 10px 20px;
}
.locationModel .countryList li button:hover{
  background: #f1f1f1 !important;
}
.locationModel .countryList li button.active{
  background: #ccc;
}
.locationModel .close_{
  position: absolute;
  top: 10px;
  right: 10px;
  color: #000 !important;
  min-width: 40px !important;
  width: 40px !important;
  height: 40px !important;
  border-radius: 50% !important;
}
.locationModel .close_ svg{
  font-size: 22px;
}