@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css');

body {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.8);
  overflow-x: hidden;
}

.bg-blue {
  background: #233a95;
}

@media (min-width: 1300px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1200px;
  }
}

.cursor {
  cursor: pointer;
}

.text-light {
  color: #8b8b8b !important;
}

.text-sml {
  font-size: 14px;
}

::-webkit-scrollbar {
  width: 8px !important;
  height: 8px !important;
}

::-webkit-scrollbar-thumb {
  background: #ccc !important;
}

::-webkit-scrollbar-track {
  background: transparent !important;
}

.headerWrapper {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  /* padding-bottom: 10px; */
}

.headerWrapper .top-strip {
  padding: 8px 0px;
}

.headerWrapper .top-strip p {
  color: white;
  font-size: 12px;
  font-weight: 700;
}

.headerWrapper .header {
  width: 100%;
  height: auto;
  padding: 15px 0px;
}

.logoWrapper img {
  width: 100%;
}

.headerWrapper .header .part-2 .countryDrop {
  width: 170px;
  height: 50px;
  min-width: 170px;
  text-align: left;
  justify-content: flex-start !important;
  color: #000 !important;
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
  border-radius: 7px;
  padding: 10px 15px;
}

.headerWrapper .header .part-2 .countryDrop .label {
  font-size: 12px !important;
  text-transform: capitalize !important;
  color: rgba(0, 0, 0, 0.5) !important;
  line-height: 16px;
}

.headerWrapper .header .part-2 .countryDrop .name {
  font-size: 18px !important;
  text-transform: capitalize !important;
  color: #233a95 !important;
  font-weight: 700;
  line-height: 16px;
}

.headerWrapper .header .part2 .countryDrop span.ms-auto svg {
  opacity: 0.7;
}

.headerSearch {
  width: 60%;
  height: 50px;
  background: #f3f4f7;
  padding: 5px;
  position: relative;
  border-radius: 5px;
  border: 1px solid black;
}

.headerSearch input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.headerSearch input {
  background: transparent !important;
  outline: none !important;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 45px;
  border: 0px !important;
  padding: 0px 20px !important;
}

.headerSearch button {
  position: absolute;
  top: 5px;
  right: 10px;
  z-index: 100;
  min-width: 40px;
  height: 40px !important;
  width: 40px !important;
  border-radius: 50%;
  color: #000;
}

.headerSearch button svg {
  font-size: 25px;
}

header .part-3 .circle {
  align-items: center;
  justify-content: center;
  min-width: 40px !important;
  height: 45px !important;
  width: 40px !important;
  border-radius: 50% !important;
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
  color: #000;
}

header .part-3 .circle svg {
  font-size: 22px;
}

.cartTab .price {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 700;
}

.cartTab button {
  background: #fff1ee !important;
}

.cartTab button svg {
  color: #ea2b0f !important;
}

.cartTab .count {
  position: absolute;
  top: -6px;
  right: -4px;
  background: #ea2b0f;
  border-radius: 50%;
  color: #fff;
  width: 20px;
  height: 20px;
}

nav .navPart1 {
  max-width: 20%;
  flex-direction: 0, 0, 20%;
}

nav .navPart2 {
  max-width: 80%;
  flex-direction: 0, 0, 80%;
}

nav .navPart1 .catWrapper {
  position: relative;
}

nav .navPart1 .catWrapper .sidebarNav {
  width: 100%;
  height: 0px;
  opacity: 0;
  background: #fff;
  position: absolute;
  top: 135%;
  left: 0px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px 0px;
  transition: all 0.2s;
  visibility: hidden;
  z-index: 100;
}

nav .navPart1 .catWrapper .sidebarNav.open {
  height: 100%;
  opacity: 1;
  visibility: inherit;
}

nav .navPart1 .catWrapper .sidebarNav ul li {
  width: 100%;
  list-style: none;
  padding: 0px 15px;
}

nav .navPart1 .catWrapper .sidebarNav ul li button {
  color: #000;
  width: 100%;
  justify-content: flex-start;
  text-transform: capitalize !important;
}

nav .navPart1 .catWrapper .sidebarNav ul li button svg {
  font-size: 12px;
  opacity: 0.6;
}

nav .navPart1 .catWrapper .sidebarNav ul li button:hover {
  background: transparent !important;
}

nav .navPart1 .catWrapper .sidebarNav ul li {
  position: static;
}

nav .navPart1 .catWrapper .sidebarNav ul li .submenu {
  position: absolute;
  top: 0px;
  left: 105%;
  width: 250px;
  height: 100%;
  background: #fff;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px;
}

nav .navPart1 .catWrapper .sidebarNav ul li:hover .submenu {
  opacity: 1;
  visibility: inherit;
  padding: 20px;
  left: 100%;
}

nav .navPart1 .catWrapper .sidebarNav ul li:hover .submenu button {
  border-radius: 0px !important;
}

nav .allCatTab {
  background: #2bbef9;
  border-radius: 30px !important;
}

nav .allCatTab * {
  color: #fff;
}

nav .allCatTab:hover {
  background: #2bbef9;
}

nav .allCatTab .text {
  font-weight: 600;
  font-size: 14px;
}

nav .allCatTab .icon1 svg {
  font-size: 20px !important;
}

nav .allCatTab .icon1 svg {
  font-size: 15px !important;
}

nav .navPart2 ul {
  margin-bottom: 0px;
}

nav .navPart2 ul li {
  padding-bottom: 20px;
}

nav .navPart2 ul li a {
  text-decoration: none;
}

nav .navPart2 ul li a button {
  font-size: 14px;
  font-weight: 550;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
  text-transform: uppercase;
  display: flex;
  align-items: center;
  padding: 8px 15px;
  transition: all 0.2s ease-in-out;
  border-radius: 25px;
}

nav .navPart2 ul li a svg {
  font-size: 20px;
}

nav .navPart2 ul li a:hover {
  background: #f0faff;
  color: #2bbef9;
}

nav .navPart2 ul li {
  position: relative;
}

nav .navPart2 ul li .submenu {
  position: absolute;
  top: 150%;
  left: 0px;
  min-width: 200px;
  background: #fff;
  opacity: 0;
  visibility: hidden;
  transition: all 0.1s ease-in-out;
  z-index: 100;
}

nav .navPart2 ul li .submenu a {
  display: block;
  width: 100%;
}

nav .navPart2 ul li .submenu a button {
  width: 100%;
  justify-content: flex-start !important;
  border-radius: 0px !important;
  text-transform: capitalize !important;
  font-weight: 600;

}

nav .navPart2 ul li .submenu a button:hover {
  background: #f1f1f1 !important;
}

nav .navPart2 ul li:hover .submenu {
  opacity: 1;
  visibility: inherit;
  top: 100%;
}

.locationModel .MuiPaper-elevation {
  padding: 25px;
  position: relative;
}

.locationModel .countryList {
  margin-bottom: 0px;
  max-height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.locationModel .countryList li {
  width: 100%;
  list-style: none;
}

.locationModel .countryList li button {
  width: 100%;
  text-transform: capitalize !important;
  color: #000 !important;
  justify-content: flex-start;
  padding: 10px 20px;
}

.locationModel .countryList li button:hover {
  background: #f1f1f1 !important;
}

.locationModel .countryList li button.active {
  background: #ccc;
}

.locationModel .close_ {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #000 !important;
  min-width: 40px !important;
  width: 40px !important;
  height: 40px !important;
  border-radius: 50% !important;
}

.locationModel .close_ svg {
  font-size: 22px;
}

.homeBannerSection {
  position: relative;
  overflow: hidden;
}

.homeBannerSection * {
  outline: none;
}

.homeBannerSection .slick-arrow {
  position: absolute;
  top: 45%;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px !important;
  height: 40px !important;
  background: #fff;
  border-radius: 100%;
  font-weight: bold;
  box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
}

.homeBannerSection .slick-arrow.slick-next {
  right: 35px;
}

.homeBannerSection .slick-arrow.slick-prev {
  left: 35px;
}

.homeProducts {
  padding: 25px 0px;
  width: 100%;

}

.homeProducts .banner {
  width: 100%;
  border-radius: 7px;
  overflow: hidden;

}

.hd {
  font-size: 20px;
  font-weight: 600;
}

.ptoductRow .hd {
  font-size: 25px;
  font-weight: 600;
  text-transform: uppercase;
}

.viewAllBtn {
  padding: 5px 25px !important;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 30px !important;
  color: #414141 !important;
  font-weight: 600;
  text-transform: capitalize !important;

}

.viewAllBtn svg {
  font-size: 20px;

}

.productItem {
  width: 100%;
  height: auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  position: relative;
}

.productItem .badge {
  display: inline-block;
  padding: 7px 10px;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 100;
}

.productItem .info {
  padding: 15px;
}

.productItem .info h4 {
  font-size: 15px;
  font-weight: 600;
}

.productItem .info .oldPrice {
  font-size: 16px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.3);
  text-decoration: line-through;
}

.productItem .info .netPrice {
  font-size: 16px;
  font-weight: bold;
}

.productItem .actions {
  position: absolute;
  top: 20px;
  right: -100%;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 10px;
  transition: all 0.5s ease-in-out;
}

.productItem .actions button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 40px !important;
  height: 40px;
  width: 40px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50% !important;
  background: #fff !important;
  box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
  transition: all 0.0s !important;
}

.productItem .actions button svg {
  color: #000;
  opacity: 0.8;
  position: inherit;
  font-size: 16px;
}

.productItem .actions button:hover {
  background: #233a95;
}

.productItem .actions button:hover svg {
  background-color: #fff;
}

.productItem .imgWrapper {
  overflow: hidden;

}

.productItem .imgWrapper img {
  transition: all 0.3s ease-in-out;
}

.productItem .imgWrapper:hover .actions {
  opacity: 1;
  right: 10px;
}

.productItem .imgWrapper:hover img {
  transform: scale(1.1)
}

.product_row .item {
  border-right: 1px solid transparent;
}

.product_row .swiper-slide:last-child .productItem {
  color: 1px solid rgba(0, 0, 0, 0.1);
}

.product_row .swiper-button-prev {
  left: 0px;
}

.product_row .swiper-button-next {
  right: 0px;
}

.swiper {
  padding-right: 2px !important;
}

.badge-primary {
  background: #2bbef9;
}

.homeCat {
  padding: 35px 0px;
}

.homeCat .swiper {
  overflow: inherit !important;
}

.homeCat h4 {
  font-size: 15px;
  font-weight: 600;
}

.homeCat .swiper .item {
  padding: 10px;
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.homeCat .swiper .item img {
  width: 80%;
}

.homeCat .swiper-button-prev,
.homeCat .swiper-button-next {
  top: -30px !important;
  width: 30px !important;
  height: 30px !important;
}

.homeCat .swiper-button-prev {
  right: 68px;
  left: inherit;
}

.homeCat .swiper-button-prev,
.homeCat .swiper-button-next::after {
  font-size: 12px;
}

.productrow2 {
  flex-wrap: wrap;
  gap: 10px;
}

.productrow2 .productItem {
  width: 24%;
  overflow: hidden;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.bannerSec {
  gap: 10px;

}

.sticky {
  position: sticky;
  top: 10px;
  z-index: 100;
}